.container {
  position: relative;
  flex: content;
  max-height: fit-content;
  width: auto;
}

.header {
  font-family: 'Audiowide';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.horizontal-slider {
  width: auto;
  height: auto;
  margin: auto;
}

.slider-thumb {
  font-size: small;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.slider-track {
  position: relative;
  background: #ddd;
}

.slider-track.slider-track-0 {
  background: seagreen;
}

.horizontal-slider .slider-track {
  top: 15px;
  height: 4px;
}

.horizontal-slider .slider-thumb {
  top: 11px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
